@{
    ViewData["Title"] = "Home Page";
}

<style>
    .display-4{
        border: 2px solid grey;
        border-radius: 23px;
        text-align: center;
        align-items: center;
        background: deepskyblue;
        color: white;
        font-weight: 400;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome To Softmass Technologies Pvt. Ltd.</h1>
    <img src="https://lh3.googleusercontent.com/p/AF1QipOS0HLeMGHCZVdVXhM1j-Gnk1rTZ3Nm5gJTw_MG=s1360-w1360-h1020" class="img-thumbnail fw-bolder" alt="Cinque Terre">
</div>
